<style>
  .app {
    display : flex;
    justify-content: center;
    align-items: center;
    background : linear-gradient(to right,white,blue);
    flex-direction: column;
    color : white;
  }
</style>
<div class="app">
  <label for="name">Name: </label>
  <input id="name" id="name" type="text" [formControl]="name">
  <p>Value: {{ name.value }}</p>
  <button type="button" (click)="update()">Update The Name into Timotius</button>
  <br>
  <label>Input Your dummy API in here:</label>
  <input id="api" type="text">
  <br>
  <button (click)="GetAll()">Submit</button>
  <p>Address : {{ data.address }} ,<strong>Number of Words : {{ address }}</strong> </p>
  <p>Description : {{ data.description }},<strong> Number of Words : {{ desc }}</strong></p>
  <p>name : {{ data.name }},<strong> Number of Words : {{ name2 }}</strong></p>
  <p>Phone Number : {{ data.phone_number }},<strong> Number of Words : {{ phone }}</strong></p>
  <p>Number of Wor : </p>
</div>